{deps, [
  {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "master"}}}
  ]}.

{plugins, [
  {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "release/0.3.x"}}}
  ]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   %% Alternatively, you can use the Gitlab mirror with the following:
   %% $ rebar3 as gitlab compile
   {gitlab, [
     {deps, [
        {ltest, {git, "https://gitlab.com/lfex/ltest.git", {tag, "0.10.0-rc6"}}}]},
     {plugins, [
        {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc2"}}}]}
      ]},
   %% Or use Hex.pm instead with:
   %% $ rebar3 as hexpm compile
   {hexpm, [
     {deps, [
        {ltest, "0.10.0-rc6"}]},
     {plugins, [
        {rebar3_lfe_compile, "0.8.0-rc2"}]}
      ]}
  ]}.
